darknet2
datasets
number_svm
tesseract
vanttec
build

ros_vanttec/build/*
ros_vanttec/devel/*
ros_vanttec/vanttec/*
ros_vanttec/src/boat/*.txt
ros_vanttec/src/boat/*.xml

boat-vision
stereo-vision

*.pyc
*__init__.py
*__pycache__
