vot/vantec
vot/yolov3
DarknetROS/build
DarknetROS/devel
DarknetROS/src/darknet_ros/darknet
DarknetROS/src/darknet_ros/darknet_ros/yolo_network_config
darknet2

datasets
number_svm
DarknetROS
teseract
vot
boat-vision/vanttec

ros_vanttec/build/*
ros_vanttec/devel/*
ros_vanttec/vanttec/*
ros_vanttec/src/boat/*.txt
ros_vanttec/src/boat/*.xml

*.pyc
*__init__.pyt
*__pycache__
