vot/vantec
vot/yolov3
DarknetROS/build
DarknetROS/devel
DarknetROS/src/darknet_ros/darknet
DarknetROS/src/darknet_ros/darknet_ros/yolo_network_config
env
.vscode
requirements.txt
boat-vision/colors/color-detection-dataset